.navBar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.navLink {
  color: black;
  text-decoration: none;
}

.addFood {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.addFoodcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  align-items: center;
  margin-inline: auto;
}

.addFood-btn {
  max-width: 10rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foodType {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.home-container {
  margin-top: 4rem;
  max-width: 40rem;
  margin-inline: auto;

}

.foodItemsContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.foodcard {
  max-width: 10rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}